<!DOCTYPE html>
<html>
	<head>
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="viewport" content="width=device-width">
		<title>User</title>
	</head>
	<body>
		<div class="container">
			<div class="userTable">
            </div>
		</div>
	<script src="/js/api.js"></script>
    <script src="/js/user-view.js"></script>
    <script src="/js/user-controller.js"></script>
    </body>
</html>
