.otheloHeader th{

}
.otheloBody {
}

.otheloRow th {
}

.othelloRow td {
	padding: 0;
  width: 50px;
  height: 50px;
  border: solid 1px lightgrey;
}

.white-stone{
  background: white;
  margin: 4px;
  width: 41px;
  height: 41px;
  border-radius: 45px;
  border: solid 1px #bbb;
  box-shadow: 3px 3px 3px;
}

.black-stone{
  background: black;
  margin: 4px;
  width: 41px;
  height: 41px;
  border-radius: 45px;
  border: solid 1px #333;
  box-shadow: 3px 3px 3px;
}

.white{
  background: green;
}

.black{
  background: green;
}

.green{
  background: green;
}

.lightgreen{
  background: lightgreen;
}

.bold{
  font-weight: bold
}
